@media screen and (max-width: 850px){
    
body {
    background-image: url('../media/background/background-miette.png');
    background-repeat: repeat;
    margin-block: 0;
    background-size: auto;
    background-color: #93b7d5;
    margin: 0;
}

/* ARTICLE UNIVERS */

.univers {
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
    margin-left: 70px;
    margin-bottom: 100px;
}
aside.texteMiette {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}
#miette {
    width: 100%;
}

/* ARTICLE PRESENTATION */

#presentation {
    background-image: url(../media/background/background-papier-long1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* min-height: 1115px; */
    color: rgb(4, 0, 36);
    padding: 15%;
    display: flex;
    flex-direction: column;
}
.resume {
    display: flex;
    grid-template-columns: 1fr 1fr;
    padding-top: 170px;
    flex-direction: column-reverse;
    align-items: center;
}
.quisuisje {
    padding-left: 50px;
}
.portrait {
    justify-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#barre-formation {
    width: 70%;
    margin-left: -210px;
    padding-top: -27px;
    rotate: 90deg;
    /* margin-top: 64px; */
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
    margin-top: 0px; 
}



#competence {
    display: flex;
    margin-top: 70px;
    flex-direction: column;

    padding: 10%;
}
.passion-conteneur {

    margin-top: 0px; 
}
}