body {
  background-image: url('../media/background/background-miette.png');
  background-repeat: repeat;
  margin-block: 0;
  background-size: contain;
  background-color: #93b7d5;
  margin: 0;
}


/* Texte */

p{
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  font-family: 'Patrick Hand', cursive;
  font-size: xxx-large;
}

h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}
h4{
  font-family: 'Source Sans Pro', sans-serif;
  color: #3c6db5;
  font-size: xx-large;
  font-style: oblique;
}

.univers{
  display: flex;
  color: rgb(255, 255, 255);
}

aside.texteMiette {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 140px;
  justify-content: center;
}
figure {
  margin: 0px;
}

h1 {
  font-size: 80px;
  font-family: 'Patrick Hand', cursive;
  margin: 0;
}
#miette{
  animation: miette 2s ease 0s 1 normal forwards;
}

@keyframes miette {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

/* EXPLOSION IMAGE*/

.explosion {
  display: grid;
  grid-template-rows: 20% 20% 20%;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
}

#explo1 {
  grid-column-start: 1;
  grid-row-start: 2;
  width: 100%;
}

img#explo3 {
  grid-column-start: 2;
  grid-row-start: 1;
  width: 100%;
  
}

img#explo2 {
  grid-column-start: 3;
  grid-row-start: 2;
  width: 100%;
  
}

img#explo4 {
  grid-column-start: 1;
  grid-row-start: 3;
  width: 120%;
  
}

img#explo5 {
  grid-column-start: 2;
  grid-row-start: 3;
  width: 140%;
  
}
/* EXPLOSION ANIMATION */

#explo1:hover{
  transform: scale3d(1.5,1.5,1.5);
  transition-duration: 1.5s; 
}
#explo1{
  transition-duration: 3s;
}
#explo2:hover{
  transform: scale3d(1.5,1.5,1.5);
  transition-duration: 1.5s; 
}
#explo2{
  transition-duration: 3s;
}

#explo3:hover{
  transform: scale3d(1.5,1.5,1.5);
  transition-duration: 1.5s; 
}
#explo3{
  transition-duration: 3s;
}
#explo4:hover{
  transform: scale3d(1.5,1.5,1.5);
  transition-duration: 1.5s; 
}
#explo4{
  transition-duration: 3s;
}
#explo5:hover{
  transform: scale3d(1.5,1.5,1.5);
  transition-duration: 1.5s; 
}
#explo5{
  transition-duration: 3s;
}




/* PRESENTATION */

#presentation{
  background-image: url(../media/background/background-papier-long1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 1115px;
  color: rgb(4, 0, 36);
}

.resume{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 170px;
}

#formationtitre {
  padding-left: 260px;
  margin: auto;
}

#barre-formation {
  width: 70%;
  margin-left: 259px;
  padding-top: -27px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -81px;
}

li {
  width: 280px;
  margin: 30px;
  font-family: 'Source Sans Pro', sans-serif;

}
.portrait{
  justify-self: center;
  width: 80%;
}

.quisuisje {
  padding-left: 260px;
}

.logocontact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100PX;
}

#cv{
  background-image: url(../media/iconesnav/logo-cv.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 40px;
  margin: 14px;


}
#cv:hover{
  transform: scale3d(1.1,1.1,1.1);
  transition-duration: 2s;
  
}

#linkedin{
  background-image: url(../media/iconesnav/logo-linkedin.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 40px;
  margin: 14px;

}
#linkedin:hover{
  transform: scale3d(1.1,1.1,1.1);
  transition-duration: 2s;
  
}


/*SKILLS*/

.skills {
  background-image: url('../media/background/background\ bloc\ note.png');
  background-repeat: no-repeat;
  margin-block: 0;
  background-size: contain;
  background-color: #93b7d5;
  background-position: center;
  margin: 60px;
}

.software {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 70px 25px 135px 210px;
  align-items: flex-start;
}
.passion-conteneur {
  width: 80%;
  margin-top: 60px;
}
#competence {
  display: grid;
  margin-top: 70px;
  grid-template-columns: 1fr 1fr;
}


.passion {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

#p1 {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: center;
  width: 50%;
  margin-top: 66px;
  animation: float1 6s ease-in-out infinite;
}

#p2{
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: center;
  width: 50%;
  animation: float2 6s ease-in-out infinite;
}
#p3 {
  grid-column-start: 3;
  grid-row-start: 1;
  width: 50%;
  margin-top: 90px;
  animation: float1 6s ease-in-out infinite;
}
#p4 {
  grid-column-start: 1;
  grid-row-start: 2;
  width: 50%;
  animation: float2 6s ease-in-out infinite;
}
#p5 {
  grid-column-start: 3;
  grid-row-start: 2;
  justify-self: center;
  width: 50%;
  animation: float2 6s ease-in-out infinite;
}
#p6 {
  grid-column-start: 1;
  grid-row-start: 3;
  justify-self: center;
  width: 50%;
  margin-top: -60px;
  animation: float1 6s ease-in-out infinite;
}
#p7 {
  grid-column-start: 2;
  grid-row-start: 3;
  justify-self: center;
  width: 50%;
  margin-top: 50px;
  animation: float2 6s ease-in-out infinite;
}
#p8 {
  grid-column-start: 3;
  grid-row-start: 3;
  width: 50%;
  margin-left: 82px;
  animation: float1 6s ease-in-out infinite;
}
#p9 {
  grid-column: 1/ span3;
  grid-row: 1/ span 3;
  justify-self: center;
  margin-top: 50px;
  margin-bottom: 140px;
  width: 50%;
  margin-left: -90px;
}

@keyframes float1 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes float2 {
	0% {
		transform: translatey(-20px);
	}
	50% {
		transform: translatey(0px);
	}
	100% {
		transform: translatey(-20px);
	}
}

