body {
  background-image: url('../media/background/background-miette.png');
  background-repeat: repeat;
  margin-block: 0;
  background-size: contain;
  background-color: #93b7d5;
  margin: 0;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 14px 32px;
  color: antiquewhite;
  text-indent: 40px;
  text-align: justify;
}

h2 {
  font-family: 'Patrick Hand', cursive;
  font-size: xxx-large;
  margin: 30px;
  color: antiquewhite;
}

h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

/* ARTICLE */


.presentation {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 70%;
  margin-left: 10%;
  padding-top: 120px;
}

.textpresentation {
  grid-column-start: 2;
  background-image: url(../media/background/background-large2.png);
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(#536485 4px 4px 4px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
figure {
  grid-column-start: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40% 60%;
  width: auto;
}

#logotypojaune {
  grid-column-start: 1;
  grid-row-start: 1;
  width: 160%;
  margin-left: 220px;
  padding-top: 40px;
  filter: drop-shadow(#536485 4px 4px 4px);
}

#logotypojaune:hover{
  animation: etincelle 2s ease 0s normal forwards;
}

#milkyway {
  grid-column-start: 1;
  grid-row-start: 2;
  width: 100%;
  margin-left: 120px;
  filter: drop-shadow(#536485 4px 4px 4px);
}
#milkyway:hover{
  animation: etincelle 2s ease 0s normal forwards;
}

#tele {
  grid-column-start: 2;
  grid-row-start: 2;
  width: 130%;
  margin-left: 150px;
  filter: drop-shadow(#536485 4px 4px 4px);
}

#tele:hover{
  animation: etincelle 2s ease 0s normal forwards;
}

#minidonuts{
  width: 50%;
  margin-left: 30px;
}

#voir_le_projet:hover{
  cursor: pointer;
  translate: 4px 4px;
}

#voir_le_projet {
  background-image: url(../media/bouton/btn1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  padding: 20px 24px;
  border-radius: 14px;
  margin-top: 30px;
  text-align: center;
  filter: drop-shadow(#536485 4px 4px 4px);
}
#linkprojet{
  font-family: 'Patrick Hand', cursive;
  color: #ffffff;
  font-size: 22px;
  text-decoration: none;
}
@keyframes etincelle {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}
.mockup {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 70%;
  margin-left: 15%;
  padding-bottom: 80px;
  margin-top: 50px;
}
#apercu {
  width: 20%;
  margin-left: 20%;
}

#mockup1 {
  grid-column-start: 1;
  width: 80%;
  justify-self: center;
}

#mockup2 {
  grid-column-start: 2;
  width: 60%;
  justify-self: center;
}

/* FOOTER */

footer {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
  justify-content: center;
}

.logocontact_footer{
  display: flex;
  flex-direction: row;
}

#cv{
  background-image: url(../media/background/bouton\ rond.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 27px;
  margin: 27px;
  filter: drop-shadow(#536485 4px 4px 4px);


}
#cv:hover{
  cursor: pointer;
  color: antiquewhite;
  translate: 4px 4px; 
}

#linkedin{
  background-image: url(../media/background/bouton\ rond.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 27px;
  margin: 27px;
  filter: drop-shadow(#536485 4px 4px 4px);

}
#linkedin:hover{
  cursor: pointer;
  color: antiquewhite;
  translate: 4px 4px;
}
