body {
  background-image: url('../media/background/background-miette.png');
  background-repeat: repeat;
  margin-block: 0;
  background-size: contain;
  background-color: #93b7d5;
  margin: 0;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  text-indent: 40px;
  text-align: justify;
}

h2 {
  font-family: 'Patrick Hand', cursive;
  font-size: xxx-large;
  margin: 6px;
}

h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.NIMWIN {
  display: flex;
  flex-direction: row;
  margin-left: 22%;
  margin-top: 120px;
}

.presentation_nim {
  background-image: url(../media/background/carnet1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 600px;
  height: 810px;
  filter: drop-shadow(#536485 4px 4px 4px);
}

.presentation_nim>h2 {
  padding: 10px 80px 10px 120px;
  margin-top: 60px;
}

.presentation_nim>p{
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 80px 10px 120px;
}
#recherchetxt {
  margin-top: 244px;
  margin-left: 200px;
}

.visuel_nim {
  background-image: url(../media/background/carnet2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 600px;
  height: 810px;
  margin-left: -37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(#536485 4px 4px 4px);
}

.gif {
  width: 50%;
  margin-top: 102px;
  margin-bottom: 40px;
}

#voir_le_site {
  background-image: url(../media/bouton/btn1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* padding: 30px 39px; */
  border-radius: 19px;
  font-family: 'Patrick Hand', cursive;
  color: #ffffff;
  font-size: 22px;
  text-decoration: none;
  border-color: transparent;
  background-color: transparent;
  width: 220px;
  height: 70px;
}

#voir_le_site:hover {
  cursor: pointer;
  color: antiquewhite;
  translate: 4px 4px;
}

/* FOOTER */

footer {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
  justify-content: center;
}

.logocontact_footer{
  display: flex;
  flex-direction: row;
}

#cv{
  background-image: url(../media/background/bouton\ rond.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 27px;
  margin: 27px;
  filter: drop-shadow(#536485 4px 4px 4px);


}
#cv:hover{
  cursor: pointer;
  color: antiquewhite;
  translate: 4px 4px; 
}

#linkedin{
  background-image: url(../media/background/bouton\ rond.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 27px;
  margin: 27px;
  filter: drop-shadow(#536485 4px 4px 4px);

}
#linkedin:hover{
  cursor: pointer;
  color: antiquewhite;
  translate: 4px 4px;
}