#logo {
  margin: 20px;
  cursor: pointer;
  filter: drop-shadow(#93b7d5 4px 4px 4px);
  animation: menu 4s ease 0s infinite normal forwards;
}
#logo:hover {
  animation: none;
  transform: scale3d(1.2,1.2,1.2);
  transition-duration: 3s;
  transition-property: transform;
}


@keyframes menu {
	0% {
		transform: scale3d(1, 1, 1);
	}

	15% {
		transform: scale3d(1.25, 0.75, 1);
	}

	20% {
		transform: scale3d(0.75, 1.25, 1);
	}

	25% {
		transform: scale3d(1.15, 0.85, 1);
	}

	32.5% {
		transform: scale3d(0.95, 1.05, 1);
	}

	37.5% {
		transform: scale3d(1.05, 0.95, 1);
	}

	50% {
		transform: scale3d(1, 1, 1);
	}
  100% {
		transform: scale3d(1, 1, 1);
	}
  
}



/* Navbar container */
.navbar {
  display: none;
  overflow: hidden;
  font-family: 'Patrick Hand';
  font-size:xx-large;
  }
  
  #nav{
    display:none;
  }

nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    align-items: center;
}
  
  input[type="checkbox"]:checked + div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    z-index: 1;
}


  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 20px;
    font-family: 'Patrick Hand';
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: -1px -1px 0 #93b7d5, 1px -1px 0 #93b7d5, -1px 1px 0 #93b7d5, 1px 1px 0 #93b7d5;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 20px;
    font-family: 'Patrick Hand';
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #3c6db5;
    /*background-image: url('../media/background/backgroundkraft2.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;*/
}
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 2;
  }
  .dropdown2-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-shadow: none;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }


  /* The dropdown container */
  .dropdown2 {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown2 .dropbtn2 {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown2:hover .dropbtn2 {
    background-color: #3c6db5;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown2-content {
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown2-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-shadow: none;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown2-content a:hover {
    background-color: #ddd;
  }
   /* Add a grey background color to dropdown links on hover */
   .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown2:hover .dropdown2-content {
    display: block;
  }

  a {
    display: block;
    padding: 8px;
}

#logoquisuisje {
  width: 16px;
  margin-right: 10px;
}
#logodesign{
  width: 25px;
  margin-right: 10px;
}
#logowebdesign{
  width: 25px;
  margin-right: 10px;
}
#logovideo{
  width: 19px;
  margin-right: 10px;
}
