#logo {
  margin: 20px;
  cursor: pointer;
  filter: drop-shadow(#93b7d5 4px 4px 4px);
  animation: menu 4s ease 0s infinite normal forwards;
}
#logo:hover {
  animation: none;
  transform: scale3d(1.2,1.2,1.2);
  transition-duration: 3s;
  transition-property: transform;
}


@keyframes menu {
	0% {
		transform: scale3d(1, 1, 1);
	}

	15% {
		transform: scale3d(1.25, 0.75, 1);
	}

	20% {
		transform: scale3d(0.75, 1.25, 1);
	}

	25% {
		transform: scale3d(1.15, 0.85, 1);
	}

	32.5% {
		transform: scale3d(0.95, 1.05, 1);
	}

	37.5% {
		transform: scale3d(1.05, 0.95, 1);
	}

	50% {
		transform: scale3d(1, 1, 1);
	}
  100% {
		transform: scale3d(1, 1, 1);
	}
  
}



/* Navbar container */
.navbar {
  display: none;
  overflow: hidden;
  font-family: 'Patrick Hand';
  font-size:xx-large;
  
  }
  
  #nav{
    display:none;
  }

nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    align-items: center;
    z-index: 2;
}
  
input[type="checkbox"]:checked + div {
  display: block;
  z-index: 2;
  width: 800px;
  height: 100px;
}


  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 20px;
    font-family: 'Patrick Hand';
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: -1px -1px 0 #93b7d5, 1px -1px 0 #93b7d5, -1px 1px 0 #93b7d5, 1px 1px 0 #93b7d5;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
    position: absolute;
    top: 28px;
    margin-left: 155px;
    width: 280px;
}
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 20px;
    font-family: 'Patrick Hand';
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    text-shadow: -1px -1px 0 #93b7d5, 1px -1px 0 #93b7d5, -1px 1px 0 #93b7d5, 1px 1px 0 #93b7d5;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* BACKGROUND HOVER 1 */
.dropdown:hover {
  background-image: url('../media/background/backgrounddropdown1.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 172px;
  width: 265px;
}

.dropdown-content>a:hover {
  background-image: url('../media/background/backgroundnav.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    min-width: 160px;
    position: absolute;
    z-index: 2;
  }
  .dropdown2-content {
    display: none;
    min-width: 160px;
    z-index: 2;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: rgb(240, 240, 240);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-shadow: none;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }


/* The dropdown container 2 */

.dropdown2 {
  float: left;
  overflow: hidden;
  position: absolute;
  top: 34px;
  margin-left: 420px;
  width: 170px;
  z-index: 2;
}
  
  /* Dropdown button WEBDESIGN 2*/
  .dropdown2 .dropbtn2 {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    text-shadow: -1px -1px 0 #93b7d5, 1px -1px 0 #93b7d5, -1px 1px 0 #93b7d5, 1px 1px 0 #93b7d5;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* BACKGROUND HOVER 2 */
  .dropdown2:hover {
    background-image: url('../media/background/background\ menudropdown2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 180px;
    width: 210px;
}
  .dropdown2-content>a:hover {
    background-image: url('../media/background/backgroundnav.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown2-content {
    display: none;
    min-width: 160px;
    position: absolute;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown2-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-shadow: none;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown2:hover .dropdown2-content {
    display: block;
  }

  a {
    display: block;
    padding: 8px;
}

#quisuisjebtn {
  margin-left: 6px;
  margin-top: 16px;
  position: absolute;
  width: 120px;
}

#quisuisjebtn:hover{
  background-image: url(../media/background/menubackgroundquisuisje.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#videobtn {
  margin-left: 560px;
  margin-top: 30px;
  position: absolute;
  width: 100px;
}

#videobtn:hover{
  background-image: url(../media/background/background\ menu_0001.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}

/* MINI LOGOS */

#logoquisuisje {
  width: 16px;
  margin-right: 10px;
  filter:drop-shadow(#93b7d5 1px 1px 1px);
}
#logodesign{
  width: 25px;
  margin-right: 10px;
  filter:drop-shadow(#93b7d5 1px 1px 1px);
}

#logowebdesign{
  width: 25px;
  margin-right: 10px;
  filter:drop-shadow(#93b7d5 1px 1px 1px);
}

#logovideo{
  width: 19px;
  margin-right: 10px;
  filter:drop-shadow(#93b7d5 1px 1px 1px);
}
