body {
  background-image: url('../media/background/background-miette.png');
  background-repeat: repeat;
  margin-block: 0;
  background-size: contain;
  background-color: #93b7d5;
  margin: 0;
}

/* SECTION */
.plastique{
  background-image: url('../media/background/background-papier-long1.png');
    background-position: center;
    background-size: contain;
    min-height: 1115px;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 200px;
}
.video {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.plastique>p {
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 553px;
}

  

h1 {
  display: flex;
  justify-content: center;
  padding-top: 180px;
  font-family: 'Patrick Hand', cursive;
  font-size: xx-large;
  font-size: 50px;
}

/* FOOTER */

footer {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
  justify-content: center;
}

.logocontact_footer{
  display: flex;
  flex-direction: row;
}

#cv{
  background-image: url(../media/background/bouton\ rond.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 27px;
  margin: 27px;
  filter: drop-shadow(#536485 4px 4px 4px);


}
#cv:hover{
  cursor: pointer;
  color: antiquewhite;
  translate: 4px 4px; 
}

#linkedin{
  background-image: url(../media/background/bouton\ rond.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 27px;
  margin: 27px;
  filter: drop-shadow(#536485 4px 4px 4px);

}
#linkedin:hover{
  cursor: pointer;
  color: antiquewhite;
  translate: 4px 4px;
}